<h1><%= @artist.name %></h1>
<%= image_tag @artist.image_path %>
<br>
<%= link_to "Edit this Artist", edit_artist_path(@artist) %>
<%= link_to "Delete this Artist", artist_path(@artist), method: :delete %>
